{% load wagtailcore_tags wagtailimages_tags %}

<div class="row gx-5 justify-content-center mt-5">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">{{ self.text }}</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    {% image self.image fill-300x200 as img %}
                                    <img class="rounded-circle me-3" width="40px" height="40px" src="{{ img.url}}" alt="{{ img.alt }}">
                                    <div class="fw-bold">
                                        {{ self.username}}
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        {{ self.job }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>